<!DOCTYPE html>
<html>
    <%- include('../layout/header'); -%>

    <body>
        <div class="sebuah-kotak">
            <h1>Register</h1>
            <hr>

            <div class="form-input">
                <input type="password" name="email" id="email" placeholder="username" autocomplete="off"><br>
                <input type="text" name="email" id="email" placeholder="email" autocomplete="off"><br>
                <input type="password" name="email" id="email" placeholder="password" autocomplete="off">
            </div>
            <div class="form-button">
                <button>Submit</button>
            </div>
        </div>
        <footer class="bg-footer">
            <div>
                 @copyright XI RPL 1
            </div>
        </footer>
    </body>
</html>