<!DOCTYPE html>
<html>
    <%- include('../layout/header'); -%>

    <body>
        <div class="sebuah-kotak">
            <h1>Login</h1>
            <hr>
            <form action="http://localhost:3000/login" method="post">
            <div class="form-input">
                <input type="text" name="username" id="email" placeholder="username" autocomplete="off"><br>
                <input type="password" name="password" id="email" placeholder="password" autocomplete="off">
                <button type="submit">Submit</button>
            </div>
            </form>
            <div class="form-button">
               
            </div>
        </div>
        <form class="bg-footer">
            <div>
                 @copyright XI RPL 1
            </div>
            </form>
        </footer>
    </body>
</html>